<footer class="mt-28">
  <div class="grid grid-cols-6 max-md:grid-cols-5 mx-8 max-md:mx-2">
    <div class="col-span-2">
      <div class="flex cursor-pointer mt-8 mb-4 max-md:flex-col">
        <img
          class="w-10 ml-6 max-md:w-10"
          src="/assets/shopping-bag-logo.svg"
        />
        <p class="text-2xl pt-2 pl-2 font-sans text-[#aa0082]">E-MART</p>
      </div>
      <p class="text-gray-800 font-medium w-[80%]">
        The easiest way to shop your groceries and have them delivered to your
        doorstep in about 30 or 60 minutes average time depending on your
        location.
      </p>
    </div>
    <div class="mt-8 pl-6 max-md:pl-0 max-md:pr-4">
      <p class="text-2xl max-md:text-lg font-medium text-gray-800">Contact</p>
      <ul>
        <li class="mb-2 text-gray-800 font-medium">
          <a>FAQs</a>
        </li>
        <li class="text-gray-800 font-medium">
          <a>Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="mt-8">
      <p class="text-2xl font-medium text-gray-800 max-md:text-lg">
        Terms & Policies
      </p>
      <ul>
        <li class="mb-2 text-gray-800 font-medium">
          <a>Personal data</a>
        </li>
        <li class="mb-2 text-gray-800 font-medium">
          <a>Terms of service</a>
        </li>
        <li class="mb-2 text-gray-800 font-medium">
          <a>Privacy Policy</a>
        </li>
        <li class="mb-2 text-gray-800 font-medium">
          <a>Cookies Policy</a>
        </li>
        <li class="mb-2 text-gray-800 font-medium">
          <a>Listed Shops Positioning Terms</a>
        </li>
      </ul>
    </div>
    <div class="mt-8 pl-6 max-md:pl-2">
      <p class="text-2xl font-medium text-gray-800 max-md:text-lg">Our Team</p>
      <ul>
        <li class="mb-2 text-gray-800 font-medium">
          <a>Our Business</a>
        </li>
        <li class="mb-2 text-gray-800 font-medium">
          <a>About Us</a>
        </li>
        <li class="mb-2 text-gray-800 font-medium">
          <a>Careers</a>
        </li>
        <li class="text-gray-800 font-medium">
          <a>Newsroom</a>
        </li>
      </ul>
    </div>
    <div class="mt-8 max-md:mt-0 max-md:hidden">
      <p class="text-2xl font-medium text-gray-800 max-md:text-lg">Apps</p>
      <div>
        <ul class="flex">
          <li>
            <img class="w-28" src="/assets/google-play.svg" />
          </li>
          <li class="ml-4">
            <img class="w-28" src="/assets/app-store.svg" />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex justify-center space-x-2 mt-8">
    <img src="/assets/facebook.svg" />
    <img src="/assets/instagram.svg" />
    <img src="/assets/twitter.svg" />
    <img class="w-8" src="/assets/linkedin.svg" />
    <img class="w-8" src="/assets/youtube.svg" />
  </div>

  <div class="bg-[#f2f3f4]">
    <p class="text-gray-600 text-center p-2 text-sm">
      &copy; E-Mart 2015-2023 | EGY | New Cairo, Cairo, Egypt | Tel: +971482123
      | Email: contact@e-mart.eg
    </p>
  </div>
</footer>
